@font-face {
  font-family: "BBH Bartle";
  src: url("./assets/font/BBHBartle-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.heading {
  font-family: "BBH Bartle", sans-serif;
}